<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="__static__/admin/css/pintuer.css">
<link rel="stylesheet" href="__static__/admin/css/admin.css">
<script src="__static__/admin/js/jquery.js"></script>
<script src="__static__/admin/js/pintuer.js"></script>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong class="icon-reorder"> 内容列表</strong></div>
  <div class="padding border-bottom">
  <ul class="search">
    <li>
        <button type="button" class="button border-yellow" onclick="window.location.href='#add'"><span class="icon-plus-square-o"></span> 添加分类</button>
          <button type="button"  class="button border-green" id="checkall"><span class="icon-check"></span> 全选</button>
          <button type="button" onclick="return DelSelect();" class="button border-red"><span class="icon-trash-o"></span> 批量删除</button>
    </li>
  </ul>
    
  </div>
  <form method="post" id="forms" action="">
  <table class="table table-hover text-center">
    <tr>
      <th width="5%">ID</th>
      <th width="15%">部门名称</th>
      <th width="10%">排序</th>
      <th width="10%">操作</th>
    </tr>
    <{volist name="lists" id="vo" empty="<tr><td colspan='4'>暂时没有数据</td></tr>" }>
        <tr>
          <td><input type="checkbox" name="id[]" value="<{$vo['id']}>" />
                <{$vo['id']}></td>
          <td><{$vo['dname']}></td>
          <td><{$vo['sort']}></td>
          <td><div class="button-group"> <a class="button border-main" href="<{:url('Departments/edit',array('id'=>$vo['id']))}>"><span class="icon-edit"></span> 修改</a> <a class="button border-red" href="javascript:void(0)" onclick="return del(<{$vo['id']}>)"><span class="icon-trash-o"></span> 删除</a> </div></td>
        </tr>
        
    <{/volist}>
    <tr>
      <td colspan="4"><{$lists->render()}></td>
    </tr>
  </table>
  </form>
</div>
<script type="text/javascript">
function del(id){
	if(confirm("您确定要删除吗?")){
		window.location.href="<{:url('Departments/sdelete')}>"+"?id="+id;
	}
}

$("#checkall").click(function(){ 
  $("input[name='id[]']").each(function(){
	  if (this.checked) {
		  this.checked = false;
	  }
	  else {
		  this.checked = true;
	  }
  });
})

function DelSelect(){
	var Checkbox=false;
	 $("input[name='id[]']").each(function(){
	  if (this.checked==true) {		
		Checkbox=true;	
	  }
	});
	if (Checkbox){
		var t=confirm("您确认要删除选中的内容吗？");
		if (t==false) return false; 		
        $("#forms").attr("action","<{:url('Departments/sdeletes')}>");
        $("#forms").submit();
	}
	else{
		alert("请选择您要删除的内容!");
		return false;
	}
}
</script>
<div class="panel admin-panel margin-top">
  <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>添加内容</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="">
      <div class="form-group">
        <div class="label">
          <label>部门名称：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" name="dname" />
          <div class="tips"></div>
        </div>
      </div>
      
      <div class="form-group">
        <div class="label">
          <label>排序：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" name="sort" value="1"  data-validate="number:排序必须为数字" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o tijiao" type="button"> 提交</button>
        </div>
      </div>
    </form>
<script>

$(".tijiao").click(function() {
    if(confirm('确认提交？')) {
        $(".form-x").attr('action', "<{:url('Departments/save')}>");
        $(".form-x").submit();
    }
});
</script>
  </div>
</div>
</body>
</html>